@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --cover-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --header-button-color: #353430;
    --hover-color: 53, 52, 48;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --main-text-color: #353430;
    --decorate-color: #353430;
    --content-section-title-color: #353430;
  }
  .theme-auto .rec-decor {
    display: none;
  }
}
