.page {
  background-image: var(--cover-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: var(--bg-color);
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 640px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  padding: var(--spacing-xs);
}

.header__theme-menu-list {
  flex-direction: column;
  display: flex;
  gap: var(--spacing-xs);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-size: var(--main-font-size);
  color: var(--header-button-color);
  inline-size: 70px;
  block-size: 26px;
  padding: 0px 13px;
  line-height: 18px;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid rgba(var(--hover-color), 0.4);
}
.header__theme-menu-button:not(
    .header__theme-menu-button_active
  ):focus-visible {
  text-decoration: underline;
  text-underline-offset: 3px;
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-button-color);
  pointer-events: none;
}

.header__title {
  font-size: var(--font-size-medium);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  font-weight: 700;
}

.header__title-about {
  color: var(--text-color);
  background-color: var(--accent-color);
  min-block-size: 117px;
  white-space: wrap;
}

.rec-decor {
  position: absolute;
  top: var(--spacing-xs);
  right: 19px;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  display: flex;
  align-items: center;
}

.rec-decor::before {
  content: "REC";
}

.rec-decor::after {
  content: "";
  display: inline-block;
  width: var(--rec-dot-size);
  height: var(--rec-dot-size);
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: var(--spacing-xs);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: 700;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: var(--spacing-xs);
  left: var(--spacing-xs);
  width: var(--decor-size);
  height: var(--decor-size);
  border-left: 1px solid var(--decorate-color);
  border-bottom: 1px solid var(--decorate-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: var(--spacing-xs);
  right: var(--spacing-xs);
  width: var(--decor-size);
  height: var(--decor-size);
  border-right: 1px solid var(--decorate-color);
  border-top: 1px solid var(--decorate-color);
}

.content {
  display: grid;
  gap: var(--spacing-xl);
  background-color: var(--bg-color);
  padding: var(--spacing-xs);
}

.text-link {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.text-link__content {
  text-shadow: 2px 1px 0px var(--accent-color);
  position: relative;
}

.text-link__content::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  display: none;
}

.text-link:hover .text-link__content::after {
  display: block;
}

.content-section {
  font-size: var(--main-font-size);
  font-style: normal;
  line-height: var(--main-line-height);
}

.content-section__title {
  color: var(--accent-color);
  margin-bottom: var(--spacing-sm);
  font-size: var(--main-font-size);
  font-weight: 700;
}

.text-block {
  display: grid;
}

.text-block:not(:last-child) {
  padding-bottom: var(--spacing-sm);
}

.text-block__title {
  color: var(--text-color);
  background-color: var(--accent-color);
  margin-bottom: var(--spacing-xs);
  font-weight: 700;
  font-size: var(--main-font-size);
}

.text-block__subtitle {
  margin: var(--spacing-xs) 0px;
  color: var(--text-color);
  background-color: var(--accent-color);
  font-weight: 400;
}

.text-block__content {
  color: var(--main-text-color);
}

.advices .text-block__title {
  margin-bottom: 6px;
}

.advice {
  padding-bottom: var(--spacing-xs);
}

.why {
  padding-top: var(--spacing-md);
}

.galery {
  padding-bottom: var(--spacing-md);
}

.galery-items {
  padding-top: var(--spacing-xs);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: var(--spacing-xs);
}

.galery__title {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: var(--main-line-height);
}

.galery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  background-color: var(--bg-color);
}

.footer__title {
  font-size: var(--font-size-medium);
  line-height: 83%;
  text-shadow: 2px 2px 0px var(--accent-color);
  color: var(--title-color);
  font-weight: 700;
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    block-size: 100vh;
    padding: 0px var(--spacing-sm) 0px 0px;
  }

  .header__title {
    justify-self: self-start;
    font-size: var(--font-size-large);
  }

  .header__theme-menu {
    padding-top: var(--spacing-xs);
  }

  .header__title-about {
    max-inline-size: 364px;
    margin-bottom: 22px;
  }

  .decorated-zone::before {
    bottom: var(--spacing-sm);
    left: var(--spacing-sm);
  }

  .decorated-zone::after {
    top: var(--spacing-sm);
    right: var(--spacing-sm);
  }

  .rec-decor {
    top: var(--spacing-sm);
    right: var(--spacing-md);
  }

  .content {
    padding: var(--spacing-sm);
    gap: var(--spacing-2xl);
  }

  .why {
    padding-top: var(--spacing-lg);
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--spacing-sm);
  }

  .what {
    display: grid;
    grid-template-columns: 1fr;
  }

  .what .content-section__title {
    max-width: 200px;
  }

  .galery {
    padding-bottom: var(--spacing-lg);
  }

  .galery-items {
    padding-top: var(--spacing-sm);
    display: grid;
    column-gap: var(--spacing-sm);
    row-gap: var(--spacing-sm);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .galery__item.sunset {
    grid-area: sunset;
  }

  .galery__item.ice-cream {
    grid-area: ice-cream;
  }

  .galery__item.tape {
    grid-area: tape;
  }

  .galery__item.books {
    grid-area: books;
  }

  .galery__item.street {
    grid-area: street;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
    block-size: 100vh;
  }

  .header__title {
    font-size: var(--font-size-large);
  }

  .header__title-about {
    min-inline-size: 491px;
    min-block-size: 71px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    padding-top: var(--spacing-sm);
    padding-left: var(--spacing-sm);
    align-self: self-start;
    justify-self: center;
  }

  .content-section {
    column-gap: var(--spacing-xs);
  }

  .what .content-section__title {
    max-inline-size: 315px;
  }

  .what .text-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--spacing-sm);
  }

  .text-block {
    display: block;
  }

  .advices .text-block__title {
    margin-bottom: var(--spacing-sm);
  }

  .footer {
    min-block-size: 768px;
    block-size: 100vh;
  }

  .footer__title {
    font-size: var(--font-size-large);
  }
}
