:root {
  --main-font-family: "IBM Plex mono";
  --cover-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --header-button-color: #ff0070;
  --hover-color: 255, 0, 112;
  --text-color: #000028;
  --bg-color: #000028;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --main-font-size: 18px;
  --decorate-color: #ff0070;
  --spacing-xs: 10px;
  --spacing-sm: 20px;
  --spacing-md: 30px;
  --spacing-lg: 40px;
  --spacing-xl: 50px;
  --spacing-2xl: 80px;
  --decor-size: 25px;
  --rec-dot-size: 9px;
  --main-line-height: 23.4px;
  --content-section-title-color: #ff0070;
  --font-size-medium: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-large: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

:root.theme-light {
  --cover-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --main-text-color: #353430;
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --hover-color: 53, 52, 48;
  --decorate-color: #353430;
  --header-button-color: #353430;
  --content-section-title-color: #353430;
}
